{% extends "core_block.html" %}
{% block content %}
<center>
    <form action="{{ request.get_full_path }}" method="POST" onsubmit="return ValidationEvent()" id="reset_form">
        <h1>Reset Password:</h1>
        {% csrf_token %}
        <div>
            <label>New Password:</label>
            <input type="password" name="new_password" placeholder="New Password" id="new">
        </div>
        <div>
            <label> Confirm Password:</label>
            <input type="password" name="confirm_password" placeholder="Confirm Password" id="new_confirm">
        </div>
        <input type="submit" value="reset">
        <p id="message_reset">{{message}}</p>
        <a href="/">Login</a>
    </form>
</center>
{% endblock content %}