{% extends "core_block.html" %}
{% load filter_tags %}
{% block content %}
{% if error %}
<p>{{error}}</p>
{% elif message %}
<p>{{message}}</p>
{% endif %}
<center>
    <table>
        <form action={{request.get_full_path}} method="POST" id="partner_form">
            <h1>Add Partner</h1>
            {% csrf_token %}
            <tr>
                <th>Ref-id:</th>
                <td><input type="text" name="referall" value="{{single_partner_data.refid}}"></td>
            </tr>
            <tr>

                <th for="Dep">Department :</th>
                <td>
                    <select name="Department">
                        {% with "Adsales,BizDev,Marketing,Organic,PF Marketing"|split:',' as lst%}
                        {% for x in lst %}
                        <option name="{{x}}">{{x}}</option>
                        {% endfor %}
                        {% endwith %}
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Start Date</th>
                <!-- <input class="datepicker" name="start_date" value={{single_partner_data.start_date}}> -->
                <td><input type="text" class="startdate" size="30" name="start_date"
                        value={{single_partner_data.start_date}} /></td>
            </tr>
            <tr>
                <th>End Date</th>
                <!-- <input class="datepicker" name="end_date" value={{single_partner_data.end_date}}> -->
                <td><input type="text" class="startdate" size="30" name="end_date"
                        value={{single_partner_data.end_date}} /></td>
            </tr>
            <tr>
                <th>Type :</th>
                <td>
                    <select name="type" id="tp">
                        <option value=""></option>
                        <option value="cpl" id="cpl">CPL</option>
                        <option value="share" id="share">share</option>
                        <option value="both" id="both">Both</option>
                    </select>
                </td>
            </tr>
            <tr id="shre">
                <th>Share :</th>
                <td><input type="text" name="share" value="0"></td>
            </tr>
            <tr id="cp">
                <th>CPL :</th>
                <td><input type="text" name="cpl" value="0"></td>
            </tr>
    </table>
    <input type="submit" value="Submit">
    </form>
    {% if info %}
    <p>{{info}}</p>
    {% endif %}
</center>
<script type="text/javascript">
    $(document).ready(function () {
        $('#shre').hide();
        $('#cp').hide();
        $(".startdate").datepicker({
            dateFormat: 'dd/mm/yy',//check change
            changeMonth: true,
            changeYear: true
        });
    }
    );
</script>

<script type="text/javascript">
    $('#share').click(function () {
        $('#cp').hide()
        $('#shre').show()
    });
    $('#cpl').click(function () {
        $('#shre').hide()
        $('#cp').show()
    });
    $('#both').click(function () {
        $('#shre').show()
        $('#cp').show()
    });            
</script>
{% endblock content %}