{% extends "core_block.html" %}
{% block content %}
<center>
    {% if partners %}
    <table id="game_table" border="1">
        <thead>
            <tr>
                {% for x in partner_head %}
                <th>{{x}}</th>
                {% endfor %}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for x in partners %}
            <tr>
                {% for y,z in x.items %}
                <td id="{{x.short_name}}">{{z}}</td>
                {% endfor %}
                <td>
                    <!-- <button>{{x.short_name}}</button> -->
                    <button>
                        <a href="/game/{{x.short_name}}/">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </button>
                    <form action="/game/{{x.short_name}}/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <!-- <input type="submit" class="fa fa-pencil" aria-hidden="true"> -->    
                        <button type="submit">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No partner Found</p>
    {% endif %}
    <a href="{{request.get_full_path}}add">Add Partner</a>
</center>
{% endblock %}