{% load static %}
<html>

<head>
    <title>Games Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/351f70a3e0.js" crossorigin="anonymous"></script>
</head>

<body>
    {% if request.get_full_path != '/' %}
    <a href="/">Home Page</a>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} ! </p>
    <button><a href="/logout">logout</a></button>
    <button><a href="edit_user/{{ user.username }}">edit_user</a></button>
    <button><a href="game/">Games</a></button>
    {% else %}
    <button id="lg">Register</button>
    <br>
    <hr>
    <form method="POST" action="register_user/" id="form_add">
        {% csrf_token %}
        <div>
            <input type="text" name="username" id="user_name" onkeyup="myfunction()" placeholder="USER NAME">
            <!-- <p id="demo"></p> -->
            <i id="demo"></i>
            <!-- <input type="please enter username" name="user_name"> -->
        </div>
        <br>
        <div>
            <input type="email" name="email" placeholder="EMAIL Address">
        </div>
        <br>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <br>
        <input type="submit" value="Register" id="sub">
        <hr>
    </form>

    <center>
        <form method="POST" action="login/" id="form_login">
            {% csrf_token %}
            <h1>Login page</h1>
            <div>
                <input type="text" name="username" id="login_user" autofocus required placeholder="User Name">
                <i id="demo_login"></i>
            </div>
            <br>
            <div>
                <input type="password" name="password" value="" placeholder="Password">
            </div>
            <input name="url_pass" value="{{ request.get_full_path }}" type="hidden">
            <br>
            <input type="submit" value="Login">
            <hr>
            <p id="errors">{{message}}</p>
            <p id="errors">{{error}}</p>
            <button id="forget">Forget Password</button>
            <br>
            <hr>
        </form>
    </center>

    <form method="POST" action="forget/" id="forget_password">
        {% csrf_token %}
        <label>Email :</label>
        <input type="email" name="email_verify" required>
        <input type="submit" value="send_confirmation">
        <p id="emai_info">{{not_exisit}}</p>
        <a href="/">home</a>
    </form>
    

    <center>
        <form action="{{ request.get_full_path }}" method="POST" onsubmit="return ValidationEvent()" id="reset_form">
            <h1>Reset Password:</h1>
            {% csrf_token %}
            <div>
                <label>New Password:</label>
                <input type="password" name="new_password" placeholder="New Password" id="new">
            </div>
            <div>
                <label> Confirm Password:</label>
                <input type="password" name="confirm_password" placeholder="Confirm Password" id="new_confirm">
            </div>
            <input type="submit" value="reset">
            <p id="message_reset">{{message}}</p>
            <a href="/">Login</a>
        </form>
        {% endif %}
    </center>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_add').hide()
            $('#reset').hide()
            $('#reset_form').hide()
            $('#forget_password').hide()
            if ("{{ request.get_full_path }}" == '/login/') {
                //$('#form_login').attr('action', '/')
                var new_url = "/";
                window.history.pushState("data", "Title", new_url);
                document.title = url;
            }
            if ("{{ request.get_full_path }}".includes('/forget_password/')) {
                $('#lg').hide()
                $('#form_login').hide()
                $('#login_google').hide()
                $('#reset_form').show()
            }
            else {
                $('#reset_form').hide()

            }
            //if($('#errors').html()==='invalid username or password reload and try again')
            //{
            //    $('#form_login').attr('action','/')
            //}
            $('#forget_password').hide()
        });
    </script>
    <script type="text/javascript">
        function ValidationEvent() {
            if ($('#new').val() === $('#new_confirm').val()) {
                return true
            }
            else {
                $('#message_reset').html('Your new password does not match with confirm password')
                return false
            }
        }
        $("#forget").click(function () {
            $('#forget_password').toggle()
            $('#login_google').toggle()
            $("#form_login").toggle()

        })
        $("#lg").click(function () {
            if ($("#lg").text() == 'Login') {
                event.preventDefault();
                $("#form_add").hide()
                $("#form_login").show()
                $("#lg").text("Register")
            }
            else {
                $("#form_add").show()
                $("#form_login").hide()
                $("#lg").text("Login")
            }
        })
    </script>
    <script type="text/javascript">
        function myfunction() {
            var new_val = $('#user_name').text($("#user_name").val().replace(" ", ""));
            $('#user_name').val(new_val.text());
            //var x=document.getElementById("user_name").value;
            console.log($('#user_name').text())
            $.ajax(
                {
                    type: 'POST',
                    data: { 'user_name': $('#user_name').text() },
                    url: 'http://127.0.0.1:8000/ck/',
                    success: function (response) {
                        if (response['instance'] != 'User Name Available') {
                            //$("#sub").removeAttr("type")
                            if (jQuery.trim($('#user_name').val()).length == 0) {
                                $("#demo").removeClass($("#demo").attr('class'))
                            }
                            else {
                                $("#demo").removeClass("fa-solid fa-check")
                                $("#demo").addClass("fa-solid fa-xmark")
                                $("#sub").attr("type", 'button')
                                console.log($('#user_name').text())
                            }
                            //$("#form_add").attr("action",'')
                        }
                        else {
                            if (jQuery.trim($('#user_name').val()).length == 0) {
                                $("#demo").removeClass($("#demo").attr('class'))
                            }
                            else {
                                $("#demo").removeClass("fa-solid fa-xmark")
                                $("#demo").addClass("fa-solid fa-check")
                                $("#sub").attr("type", 'submit')
                                console.log($('#user_name').text())
                            }
                        }
                        //console.log(response['instance'])
                    }
                }
            )
        }
    </script>
</body>

</html>